<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <header>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </header>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<div class="container">
    <h2>Lista jugadores</h2>

    <table class="table table-striped">
        <tr>
            <th>Fotografia</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Potencial</th>
            <th>Nacionalidad</th>
            <th>Club</th>
            <th>Rating</th>

        </tr>
        <tr th:each="Object: ${jugadores}">
            <td>
                <p>
                    <img th:src="${Object.fotografia}">
                </p>
            </td>
            <td th:text="${Object.nombre}"></td>
            <td th:text="${Object.edad}"></td>
            <td th:text="${Object.Potencial}"></td>
            <td th:text="${Object.nacionalidad}"></td>
            <td th:text="${Object.club}"></td>
            <td th:text="${Object.Rating}"></td>
        </tr>
    </table>
</div>

</body>
</html>