<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <header>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </header>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<div class="container">
    <h2>Lista registros</h2>

    <table class="table table-striped">
        <tr>
            <th>Sector</th>
            <th>Dispositivo</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>PM10</th>
            <th>PM2.5</th>
            <th>Temperatura</th>

        </tr>
        <tr th:each="Registro: ${registros}">
            <td th:text="${Registro.sector}"></td>
            <td th:text="${Registro.dispositivo}"></td>
            <td th:text="${Registro.fecha}"></td>
            <td th:text="${Registro.hora}"></td>
            <td th:text="${Registro.pm10}"></td>
            <td th:text="${Registro.pm25}"></td>
            <td th:text="${Registro.temperatura}"></td>
        </tr>
    </table>
</div>

</body>
</html>